<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>

<h2>Edit User</h2>

<form th:action="@{/admin/update}" th:object="${user}" method="post">

    <input type="hidden" th:field="*{id}" />

    Name:
    <input type="text" th:field="*{name}" />
    <br><br>

    Email:
    <input type="email" th:field="*{email}" />
    <br><br>

    Role:
    <select th:field="*{role}">
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
    </select>
    <br><br>

    <button type="submit">Update</button>

</form>

</body>
</html>